Makefile
Makefile.in
stamp-h1
configure
libtool
*.cache
config.h
config.h.in
config.log
config.status
configure.ac
libgeda.pc
aclocal.m4
config.guess
config.rpath
config.sub
ltmain.sh
depcomp
install-sh
missing
mkinstalldirs
ABOUT-NLS
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
*~
