Makefile
Makefile.in
stamp-h1
configure
libtool
*.cache
config.h
config.h.in
config.log
config.status
configure.ac
libgeda.pc
aclocal.m4
config.guess
config.rpath
config.sub
ltmain.sh
depcomp
install-sh
missing
mkinstalldirs
ABOUT-NLS
*~
*#
TAGS
GPATH
GRTAGS
GSYMS
GTAGS
HTML
gschem.log
docs/images/*png
docs/images/*pdf
.desktop-i18n
