Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
configure.ac
stamp-h1
*.cache
aclocal.m4
config.guess
config.rpath
config.sub
depcomp
install-sh
missing
mkinstalldirs
ABOUT-NLS
*~
*#
TAGS
GPATH
GRTAGS
GSYMS
GTAGS
HTML
gschem.log
.desktop-i18n
