.deps
.libs
liblepton.la
*.lo
*.o
*.x
*.log
*.trs
*.exe
test_angle
test_arc
test_arc_object
test_bounds
test_box
test_bus_object
test_circle
test_circle_object
test_coord
test_cpp
test_line
test_line_object
test_net_object
test_pin_object
test_point
test_string
test_text_object
