Makefile
Makefile.in
*~
*.1

lepton-archive.html
lepton-embed.html
lepton-pcb_backannotate.html
lepton-refdes_renum.html
lepton-schdiff.html
lepton-symfix.html
lepton-symcheck.html
lepton-tragesym.html
lepton-upcfg.html
